  /* .cart{
    background-color: rgba(214, 207, 67, 0.522);
    display: flex;
    justify-content: space-around;
    color: rgb(113, 9, 113);
    
  }
  .cartButton{
    background-color: rgb(36, 180, 125);
    border-radius: 10px;
    width: 15rem;
  }
  .badge{
    margin-left: 10px;
    background-color: rgb(177, 177, 193);
    width: 3rem;
    border-radius: 2px;
  }


  .cartButton:hover{
   background-color: blue;
  } */

  /* CartButton.module.css */

/* Container for the cart button */
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  color: #fff;
 
}

/* Title "Medicine" */
.cart h3 {
  font-size: 1.2rem;
  margin: 0;
}

/* Cart button */
.cartButton {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;

  flex-direction: column;
  align-items: center;
}

/* Badge for the cart items count */
.badge {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 0.8rem;
  margin-top: 4px;
  margin-left: 4px;
}
